#gameScreen {
    position: relative;
    background-image: url("../images/background/BG.png");
    background-size: 100% auto;
    height: 360px auto;
    width: 640px auto;
    margin: 0 auto;
}
#cnv {
    width: 100%;
}

#controller {
    width: 100%;
    padding: 10px;
}
#pauseImg{
    width: 8%;
    display: flexbox;
}
#restartImg{
    display: block;
    position:absolute;
    width: 7%;
    border-radius: 100%;
    border :  6px solid black;
    /* max-width:20%;
    max-height:20%;
    margin-top:-50%;
    margin-left:37%;
    margin-right: 50%;
    margin-bottom: 20% */

}

.max-height-100{
    /* max-height: 100%; */
}

.bagian-bawah{
    vertical-align: bottom;
}